Source: docker-cli-rnapp
Section: contrib
Priority: extra
Maintainer: Mhynlo <mhynlo@mhynlo.io>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.8
Homepage: https://www.docker.com/

Package: docker-cli-rnapp
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, readynasos  (>= 6.7.0~T169), kernelplus, docker-ce (>= 17.03.0~ce-0~debian-jessie), aufs-tools, cgroupfs-mount
Conflicts: docker-ce (>= 17.07.0~ce-0~debian-jessie)
Provides: plymouth
Description: Docker CLI App for ReadyNAS
 This app helps manages the Docker CLI resources for ReadyNAS.
XB-Repo: deb https://download.docker.com/linux/debian jessie stable
XB-Repo-Key-Url: https://download.docker.com/linux/debian/gpg
