<Application resource-id="docker-cli-rnapp"
  <Category>APP_CAT_PRODUCTIVITY</Category>
  <Name>Docker CE CLI</Name>
  <Author>Mhynlo</Author>
  <Version>17.09.1-ml1</Version>
  <RequireReboot>0</RequireReboot>
  <ConfigURL/>
  <LaunchURL/>
  <ReservePort/>
  <DebianPackage>docker-cli-rnapp</DebianPackage>
  <ServiceName>docker.service</ServiceName>
  <Description lang="en-us">This app helps manages the Docker CLI resources for ReadyNAS.</Description>
</Application>
