<Application resource-id="docker-cli-rnapp"><!-- 'resource-id' must be AppName -->
  <Name>Docker CLI</Name><!-- Any desciptive name, upto 48 chars -->
  <Author>Mhynlo</Author><!-- Authers name. upto 48 chars -->
  <Version>1.13.0+</Version><!-- Version -->
  <RequireReboot>0</RequireReboot><!-- If non-zero, it indicate reboot is required. -->
  <ConfigURL></ConfigURL><!-- 'localhost' will be replaced by framework JS. -->
  <LaunchURL></LaunchURL><!-- 'localhost' will be replaced by framework JS. -->
  <ReservePort></ReservePort>
  <DebianPackage>docker-cli-rnapp</DebianPackage>
  <ServiceName>docker.service</ServiceName><!-- If start/stop need to start/stop service, specify service name -->
  <Description lang="en-us">This app helps manages the Docker CLI resources for ReadyNAS.</Description>
</Application>
